{% set title = 'Okiba Examples | Example' %}

{% extends '_default.njk' %}

{% block main %}
  <h1>Example</h1>
{% endblock %}

{% block scripts %}
  <script src="static/example.js"></script>
{% endblock %}