{% set title = 'Sizes Cache' %}
{% set pageCtrl = 'sizes-cache' %}

{% extends 'templates/_default.njk' %}

{% block main %}
  <div id="resize" style="box-sizing:border-box;height:50vh;padding:8px;margin:0;border:solid 1px red;"></div>
{% endblock %}
