{% macro menu(items) %}
  <ul class="menu">
    {% for item in items %}
      <li class="menu-item">
        {% if item.href %}
          <a href="{{ item.href }}">{{ item.label }}</a>
        {% else %}
          <span>{{ item.label }}</span>
        {% endif %}
        {% if item.sublinks %}
          {{ menu(item.sublinks) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endmacro %}