{% set title = 'Full Page Smooth Scroll' %}
{% set description = 'scroll translation applied on unique content wrapper' %}
{% set pageCtrl = 'smooth-scroll-full-page' %}

{% extends 'templates/_default.njk' %}

{% block main %}
  <div class="js-scroll-element">
    {% for index in range(0, 100) %}
      <div>
        <h2>Element #{{ index + 1 }}</h2>
      </div>
    {% endfor %}
  </div>
{% endblock %}
