{% set title = 'Detect' %}
{% set pageCtrl = 'detect' %}

{% extends 'templates/_default.njk' %}

{% block main %}
  <h4>Touch:</h4>
  <p id="touch"></p>
  <hr>
  <h4>Passive events:</h4>
  <p id="passive-events"></p>  
{% endblock %}
