{% set title = 'Default Sticky Content' %}
{% set pageCtrl = 'sticky-content-default' %}

{% extends 'templates/_default.njk' %}

{% block main %}
  <div id="sticky" style="height: 300vh;padding-top: 72px;">
    <div class="js-sticky-target">
      <p>Hello, I'm Sticky!</p>
    </div>
  </div>
{% endblock %}
