{% set title = 'Okiba | Sticky Content Lerp' %}
{% set pageCtrl = 'sticky-content-lerp' %}

{% extends 'templates/_default.njk' %}

{% block main %}
  <div id="sticky" style="height:300vh;">
    <h1>Sticky Content Lerp</h1>
    <div class="js-sticky-target">
      <p>Hello, I'm Sticky!</p>
    </div>
  </div>
{% endblock %}
