{% from 'macro/menu.njk' import menu %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Okiba Components | {{ title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ assetsPath }}/favicon.ico">
  <link rel="stylesheet" href="{{ assetsPath }}/app.css">
  {% block head %}{% endblock %}
</head>
<body>
  {{ menu(routes, title, description) }}
  <main id="app" class="content" data-page-ctrl="{{ pageCtrl }}">
    {% block main %}{% endblock %}
  </main>
  <script>window.publicScriptsPath = '{{ scriptsPath }}/';</script>
  <script src="{{ scriptsPath }}/app.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
