{% from 'macro/menu.njk' import menu %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Okiba | {{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body>
  <header class="header">
    <div class="header-info">
      <img class="header-logo" alt="Okiba" src="https://avatars3.githubusercontent.com/u/44700474?s=48&v=4" />
      <div>
        <h1 class="header-title">{{ title }}</h1>
        {% if description %}
          <p class="header-description">{{ description }}</p>
        {% endif %}
      </div>
    </div>
    <nav class="header-nav">
      {{ menu(routes) }}
    </nav>
  </header>
  <main id="app" class="content" data-page-ctrl="{{ pageCtrl }}">
    {% block main %}{% endblock %}
  </main>
  <script>window.publicAssetsPath = '{{ staticPath }}/';</script>
  <script src="{{ staticPath }}/app.js"></script>
  {% block scripts %}{% endblock %}
</body>
</html>